Repository iTwin/reality-capture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dbiguenet, @lr06, @RenaudKeriven, @arianacarnielli, @mcote01, @MarcBedard8, @aruniverse, @itwin/oss-admins

.github/CODEOWNERS:

* @dbiguenet @lr06 @RenaudKeriven @arianacarnielli @mcote01 @MarcBedard8
 
.github/workflows/publish.yml @aruniverse @itwin/oss-admins
 
python/ @arianacarnielli @dbiguenet
 
typescript/packages/reality-capture-analysis/ @dbiguenet
typescript/packages/reality-capture-common/ @dbiguenet
typescript/packages/reality-capture-conversion/ @dbiguenet
typescript/packages/reality-capture-modeling/ @dbiguenet
 
# https://developer.bentley.com/apis/reality-management/overview/
typescript/packages/reality-data-client/ @mcote01 @MarcBedard8
 
# not an actual reality capture api
typescript/packages/reality-data-transfer/ @dbiguenet

Update publish.yml
  .github/workflows/publish.yml
Owners: @aruniverse, @itwin/oss-admins

Update publish.yml
  .github/workflows/publish.yml
Owners: @aruniverse, @itwin/oss-admins

Update publish.yml
  .github/workflows/publish.yml
Owners: @aruniverse, @itwin/oss-admins

Fix publish GH action (#76)
  .github/workflows/publish.yml
Owners: @aruniverse, @itwin/oss-admins

Update RAS SDK based on new API
  python/reality_apis/RDAS/job_settings.py
  python/reality_apis/RDAS/reality_data_analysis_service.py
  typescript/examples/web-app/src/frontend/RDASTab.tsx
  typescript/packages/reality-capture-analysis/src/RealityDataAnalysisService.ts
  typescript/packages/reality-capture-analysis/src/Settings.test.ts
  typescript/packages/reality-capture-analysis/src/Settings.ts
Owners: @arianacarnielli, @dbiguenet, @lr06, @RenaudKeriven, @mcote01, @MarcBedard8

Wheel 1.1.4
  python/pyproject.toml
Owners: @arianacarnielli, @dbiguenet

Fix GH publish action
  .github/workflows/publish.yml
Owners: @aruniverse, @itwin/oss-admins

Uncomment publish step
  .github/workflows/publish.yml
Owners: @aruniverse, @itwin/oss-admins

Fix publish gh action (#77)
  .github/workflows/publish.yml
Owners: @aruniverse, @itwin/oss-admins

Change files
  change/@itwin-reality-capture-analysis-9b3e3426-70aa-44eb-ba65-be113bfd3c29.json
Owners: @dbiguenet, @lr06, @RenaudKeriven, @arianacarnielli, @mcote01, @MarcBedard8

Change files
  change/@itwin-reality-capture-common-017986cb-0d68-4f66-8660-21285a05606c.json
Owners: @dbiguenet, @lr06, @RenaudKeriven, @arianacarnielli, @mcote01, @MarcBedard8

Change files
  change/@itwin-reality-capture-conversion-ae5d455f-b6d6-41c9-be78-6c7b78ac8f98.json
Owners: @dbiguenet, @lr06, @RenaudKeriven, @arianacarnielli, @mcote01, @MarcBedard8

Change files
  change/@itwin-reality-capture-modeling-4b90e55a-ecf2-4ff1-9e04-a2ebfc41c9a6.json
Owners: @dbiguenet, @lr06, @RenaudKeriven, @arianacarnielli, @mcote01, @MarcBedard8

Change files
  change/@itwin-reality-data-transfer-a5420536-97e9-44ee-831d-571b94d1404a.json
Owners: @dbiguenet, @lr06, @RenaudKeriven, @arianacarnielli, @mcote01, @MarcBedard8

Bump package sversion to 1.0.0
  typescript/packages/reality-capture-analysis/package.json
  typescript/packages/reality-capture-common/package.json
  typescript/packages/reality-capture-conversion/package.json
  typescript/packages/reality-capture-modeling/package.json
  typescript/packages/reality-data-transfer/package.json
Owners: @dbiguenet

Bump package sversion to 0.1.0
  typescript/packages/reality-capture-analysis/package.json
  typescript/packages/reality-capture-common/package.json
  typescript/packages/reality-capture-conversion/package.json
  typescript/packages/reality-capture-modeling/package.json
  typescript/packages/reality-data-transfer/package.json
Owners: @dbiguenet

Version bump [skip actions]
  change/@itwin-reality-capture-analysis-9b3e3426-70aa-44eb-ba65-be113bfd3c29.json
  change/@itwin-reality-capture-common-017986cb-0d68-4f66-8660-21285a05606c.json
  change/@itwin-reality-capture-conversion-ae5d455f-b6d6-41c9-be78-6c7b78ac8f98.json
  change/@itwin-reality-capture-modeling-4b90e55a-ecf2-4ff1-9e04-a2ebfc41c9a6.json
  change/@itwin-reality-data-transfer-a5420536-97e9-44ee-831d-571b94d1404a.json
  typescript/examples/code-samples/package.json
  typescript/examples/web-app/package.json
  typescript/packages/reality-capture-analysis/CHANGELOG.json
  typescript/packages/reality-capture-analysis/CHANGELOG.md
  typescript/packages/reality-capture-analysis/package.json
  typescript/packages/reality-capture-common/CHANGELOG.json
  typescript/packages/reality-capture-common/CHANGELOG.md
  typescript/packages/reality-capture-common/package.json
  typescript/packages/reality-capture-conversion/CHANGELOG.json
  typescript/packages/reality-capture-conversion/CHANGELOG.md
  typescript/packages/reality-capture-conversion/package.json
  typescript/packages/reality-capture-modeling/CHANGELOG.json
  typescript/packages/reality-capture-modeling/CHANGELOG.md
  typescript/packages/reality-capture-modeling/package.json
  typescript/packages/reality-data-transfer/CHANGELOG.json
  typescript/packages/reality-data-transfer/CHANGELOG.md
  typescript/packages/reality-data-transfer/package.json
Owners: @dbiguenet, @lr06, @RenaudKeriven, @arianacarnielli, @mcote01, @MarcBedard8

Reality capture 1.0.0 (#78)
  typescript/examples/code-samples/package.json
  typescript/examples/web-app/package.json
  typescript/packages/reality-capture-analysis/CHANGELOG.json
  typescript/packages/reality-capture-analysis/CHANGELOG.md
  typescript/packages/reality-capture-analysis/package.json
  typescript/packages/reality-capture-common/CHANGELOG.json
  typescript/packages/reality-capture-common/CHANGELOG.md
  typescript/packages/reality-capture-common/package.json
  typescript/packages/reality-capture-conversion/CHANGELOG.json
  typescript/packages/reality-capture-conversion/CHANGELOG.md
  typescript/packages/reality-capture-conversion/package.json
  typescript/packages/reality-capture-modeling/CHANGELOG.json
  typescript/packages/reality-capture-modeling/CHANGELOG.md
  typescript/packages/reality-capture-modeling/package.json
  typescript/packages/reality-data-transfer/CHANGELOG.json
  typescript/packages/reality-data-transfer/CHANGELOG.md
  typescript/packages/reality-data-transfer/package.json
Owners: @dbiguenet, @lr06, @RenaudKeriven, @arianacarnielli, @mcote01, @MarcBedard8

Implemeted APIM Request Parameters & RealityData Tags
  typescript/packages/reality-data-client/src/RealityData.ts
  typescript/packages/reality-data-client/src/RealityDataClient.ts
  typescript/packages/reality-data-client/src/test/integration/RealityDataClient.test.ts
Owners: @mcote01, @MarcBedard8

Tags CRUD Functionality, added testing
  typescript/packages/reality-data-client/src/RealityData.ts
  typescript/packages/reality-data-client/src/RealityDataClient.ts
  typescript/packages/reality-data-client/src/test/integration/RealityDataClient.test.ts
Owners: @mcote01, @MarcBedard8

integration tests create their own test RealityData (wip)
  typescript/packages/reality-data-client/src/test/TestConfig.ts
  typescript/packages/reality-data-client/src/test/integration/RealityDataClient.test.ts
Owners: @mcote01, @MarcBedard8

removed redundant test
  typescript/packages/reality-data-client/src/test/integration/RealityDataClient.test.ts
Owners: @mcote01, @MarcBedard8

create test reality data for listing tests
  typescript/packages/reality-data-client/src/test/integration/RealityDataClient.test.ts
Owners: @mcote01, @MarcBedard8

const
  typescript/packages/reality-data-client/src/test/integration/RealityDataClient.test.ts
Owners: @mcote01, @MarcBedard8

Add example in python to download all referenced reality data in context scene file.
  python/examples/example_download_everything_in_context_scene.py
Owners: @arianacarnielli, @dbiguenet

Remove client id and project id
  python/examples/example_download_everything_in_context_scene.py
Owners: @arianacarnielli, @dbiguenet
